.q-detail-container {
    display: flex;
    gap    : 50px;
    padding: 0 70px;

    .content-left {
        border       : 1px solid #ccc;
        width        : 70%;
        padding      : 20px;
        border-radius: 5px;

        .q-title {
            font-size  : 35px;
            font-weight: 600;
        }

        .q-content {
            text-align: center;

            .q-question {
                font-size  : 25px;
                font-weight: 550;
                margin-top : 15px;
            }

            .q-answers {
                text-align : left;
                font-size  : 20px;
                margin-left: 50px;
            }

            .q-image {
                width : 100%;
                height: 200px;

                img {
                    max-width : 100%;
                    max-height: 100%;
                }
            }
        }

        .footer {
            display        : flex;
            gap            : 10px;
            justify-content: center;

            button {
                padding: 7px 20px;
            }
        }
    }

    .content-right {
        border       : 1px solid #ccc;
        width        : 30%;
        padding      : 20px;
        border-radius: 5px;
        text-align   : center;

        .main-timer {
            font-size        : 31px;
            font-weight      : 600;
            border-bottom    : 1px dashed;
            /* padding-bottom: 2px; */
            background       : #eee;
        }

        .main-question {
            display  : flex;
            flex-wrap: wrap;
            gap      : 20px;
            padding  : 22px 41px;

            .question {
                border         : 1px solid #555;
                width          : 40px;
                height         : 40px;
                border-radius  : 50%;
                display        : flex;
                align-items    : center;
                justify-content: center;
                cursor         : pointer;

                &:hover {
                    color: red;
                }

                &.selected {
                    //has choose answer
                    background-color: #c6c6c6;
                }

                &.clicked {
                    //has clicked question
                    color: red;
                }
            }
        }
    }
}

.quiz-detail-new-header {
    padding: 25px 70px;

    a {
        text-decoration: none !important;
    }
}