.questions-container {
    padding: 20px;

    .title {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .add-new-question {
        .questions-content {
            display: flex;
            gap: 25px;

            .description {
                width: 50%;
            }

            .group-upload {
                margin-top: 15px;

                .label-up {
                    color: rgb(187, 69, 216);
                    font-size: 30px;
                    margin-right: 7px;
                    margin-top: -14px;
                    cursor: pointer;
                }
            }

            .btn-add {
                margin-top: 3px;
                font-size: 28px;
                cursor: pointer;

                .icon-add {
                    color: rgb(0, 187, 255);
                    margin-right: 5px;
                }

                .icon-remove {
                    color: rgb(255, 115, 0);
                }
            }
        }

        .answers-content {
            display: flex;
            gap: 10px;
            margin-left: 30px;

            .isCorrect {
                margin-top: 16px;
                font-size: 20px;
            }

            .answer-name {
                width: 55%;
            }

            .btn-add {
                margin-top: 3px;
                font-size: 28px;
                cursor: pointer;

                .icon-add {
                    color: rgb(0, 187, 255);
                    margin-right: 5px;
                }

                .icon-remove {
                    color: rgb(255, 115, 0);
                }
            }
        }
    }
}
